@font-face {
    font-family: 'aleo';
    src: url('aleo-bold-webfont.woff2') format('woff2'),
         url('aleo-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'aleo';
    src: url('aleo-bolditalic-webfont.woff2') format('woff2'),
         url('aleo-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'aleo';
    src: url('aleo-italic-webfont.woff2') format('woff2'),
         url('aleo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'aleo';
    src: url('aleo-light-webfont.woff2') format('woff2'),
         url('aleo-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'aleo';
    src: url('aleo-lightitalic-webfont.woff2') format('woff2'),
         url('aleo-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'aleo';
    src: url('aleo-regular-webfont.woff2') format('woff2'),
         url('aleo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
