<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{  content.top }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      {{ content.main }}
    </div>
    <div class="col-xs-12 col-sm-3">
      {{ content.right }}
    </div>
  </div>
</div>
